<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <i class="fab fa-icon"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-button" href="/profile">
                <i class="fas fa-user"></i> Profile
              </a>
            </li>
             <li class="nav-item">
    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-magnifying-glass"></i> Search</a>
    </li>
    <li class="nav-item">
    <a class="nav-link logout-link" href="/logout" >
      <i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
           
          </ul>
        </div>
      </div>
    </nav>

<section class='container'>
  <h1 class='my-4'>Comments</h1>
  <div class='row'>
    <div class='col-sm-12'>

      <article class='card'>
        <div class='card-header'>
          <h5 class='px-3 my-1'>Post</h5>
        </div>
        <div class='card-body d-flex flex-row'>
          <div class='d-flex flex-column p-1 col-sm-2'>
            {{#if post.user.profilePic}}
              <img
                src='/uploads/{{post.user.profilePic}}'
                alt='{{post.user.name}} profile picture'
                class='img-fluid rounded-circle m-1 align-self-center'
                width='50'
                height='50'
              />
            {{/if}}
            <a
              href='mailto:{{post.user.email}}'
              class='text-muted p-1 align-self-center'
              id='username'
            >@{{post.user.name}}</a>
            <p class='text-muted m-1 align-self-center'>{{format_date
                post.date_created
              }}</p>
          </div>
          <div class='col-sm-10 align-self-center d-flex flex-column'>
            <p class='card-text align-self-center'>{{post.content}}</p>
          </div>
        </div>
      </article>

      <div class='card col-sm-12'>
        <div class='p-1'>
          <h5 class='card-title p-1 m-0'>Comment </h5>
        </div>
        <div class='card-body'>
          <form class='p-1'>
            <div class='form-group'>
              <textarea
                class='form-control'
                id='user_comment_box'
                rows='3'
                placeholder='Write your comment here'
              ></textarea>
            </div>
            <button type='submit' id='comment_btn' class='btn btn-primary'>Post
              Comment</button>
          </form>
        </div>
      </div>

      <div class='card'>
        <div class='p-2'>
          <h5 class='p-2 card-title'>Comments</h5>
        </div>
        <div class='card-body'>
          <ul class='list-group list-group-flush'>
            {{#each comments as |comment|}}
              <li class='list-group-item col-sm-12 d-flex flex-row'>
                <div class='d-flex flex-column col-sm-2 p-1'>
                  {{#if comment.user.profilePic}}
                    <img
                      class='rounded-circle align-self-center m-1'
                      src='/uploads/{{comment.user.profilePic}}'
                      alt='{{comment.user.name}} profile image'
                      width='50'
                      height='50'
                    />
                  {{/if}}
                  <a
                    class='align-self-center p-1'
                    href='mailto:{{comment.user.email}}'
                    class='mt-0'
                  >{{comment.user.name}}</a>
                  <p class='text-muted m-1 p-2 align-self-center'>{{format_date
                      comment.date_created
                    }}</p>
                </div>
                <div
                  class='col-sm-9 align-self-center p-2 m-1 d-flex flex-column'
                >
                  <p class='m-0 align-self-center'>{{comment.body}}</p>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script src='/js/comment.js'></script>