<section class='container p-2'>
  <div class='row'>
    <div class='col-md-3 d-flex flex-column p-2 m-1'>
      <div class='card profile-card'>
        <div class='profile-img row align-items-center'>
          <img 
            src='https://via.placeholder.com/150x150' 
            alt='{{user.name}} Profile Image' 
            class="rounded-circle"
            width="150"
          />
        </div>
        <div class='profile-name'>
          <h4>{{user.name}}</h4>
        </div>
        <div class='profile-bio'>
          <p>Javascript | C++ | Python</p>
        </div>
        <div class='profile-bio'>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            nihil optio aut veritatis. Dolore odit adipisci aperiam quidem
            consectetur dolores!</p>
        </div>
      </div>
    </div>

    <div class='col-md-8'>
    {{#with user as |user|}}
    {{#each user.posts as |post|}}
    <article class="profile-card card m-2">
          <div class="card-body row">
            <div class="col-sm-12 d-flex flex-row">
              <div class="col-md-3 d-flex flex-column p-2 m-1 align-self-center" id="user-info">
                  <img 
                    src="https://via.placeholder.com/50" 
                    class="rounded-circle align-self-center" 
                    alt="{{post.user.name}} profile picture"
                    width='50'
                    height="50"
                  />
                  <p class="post_user align-self-center">{{post.user.name}} </p>
                  <p class="post_date align-self-center">{{format_date post.date_created}} </p>
              </div>
              <div class="col-md-8 p-2 m-1 align-self-center" id="contents">
                  <p class="post_content"> {{post.content}}</p>
              </div>
            </div>
            <div class="col-sm-12 ms-sm-2 ms-md-5">
              <a href='/post/{{post.id}}'>
                <i class="far fa-comment"></i>
                <span>{{comments.length}}</span>
              </a>
              <a href="#" data-value="{{post.number_likes}}" data-id="{{post.id}}" class="getLikes">
                <i class="far fa-heart"></i>
                <span>{{post.number_likes}}</span>
              </a>    
            </div>
          </div>
        </div>
    </article>
    {{/each}}
    {{/with}}
  </div>
</section>
