{{> profile-navigation}}
<section class='container p-2'>
  <div class='row'>
    <div class='col-md-3 d-flex flex-column p-2 m-1'>
      <div class='profile-card'>
        <div class='profile-img row align-items-center'>

          {{#if user.profilePic}}
          <img 
            src='/uploads/{{user.profilePic}}' 
            alt='{{user.name}} Profile Image' 
            class="rounded-circle"
            id="profile-pic-preview"
            width="150"
          />
          {{/if}}
        </div>
        <div class='profile-name'>
          <h4>{{user.name}}</h4>
        </div>
        <div class='profile-bio'>
          <p id="userBio">{{user.userBio}}</p>
        </div>
      </div>
    </div>

    {{#with user as |user|}}
    {{#each user.posts as |post|}}
    <div class='col-md-8'>
    <article class="profile-card card m-2">
      <div class="card-body row">
        <div id='1' class="col-sm-12 d-flex flex-row">
          <div class="col-md-3 d-flex flex-column p-2 m-1 align-self-center" id="user-info">
            {{#if post.user.profilePic}}
            <img 
              src="/uploads/{{post.user.profilePic}}" 
              class="rounded-circle align-self-center profile-pic-preview" 
              alt="{{user.name}} profile picture"
              width='50'
              height="50"
            />
            {{/if}}
            <p class="post_user align-self-center">{{user.name}} </p>
            <p class="post_date align-self-center">{{format_date post.date_created}} </p>
          </div>
        </div>  
          <div class="col-md-8 p-2 m-1 align-self-center" id="contents">
            <p class="post_content"> {{post.content}}</p>
          </div>
          <div class='post-actions'>
            <a href='/post/{{post.id}}'>
              <i class='far fa-comment'></i>
              <span>{{post.comments.length}}</span>
            </a>
          </div>
        </div>
      </div>
    </article>
    {{/each}}
    {{/with}}
  </div>
</section>

