<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <i class="fab fa-icon"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fas fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-button" href="/profile">
                <i class="fas fa-user"></i> Profile
              </a>
            </li>
             <li class="nav-item">
    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-magnifying-glass"></i> Search</a>
    </li>
    <li class="nav-item">
    <a class="nav-link logout-link" href="/logout" >
      <i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
           
          </ul>
        </div>
      </div>
    </nav>

<section class="container mt-4">
  <div class="row">
    <div class="col-sm-12">
      {{#each searches as |search|}}
        <div class='col-md-12 d-flex flex-column p-2 m-1'>
          <div class='card profile-card'>
            {{#if search.profilePic}}
              <div class='profile-img row align-items-center'>
                <img
                  src='/uploads/{{search.profilePic}}'
                  alt='{{search.name}} Profile Image'
                  class='rounded-circle'
                  width='150'
                />
              </div>
            {{else}}
              <div class='profile-img row align-items-center'>
                <img
                  src='https://media.istockphoto.com/id/1214428300/vector/default-profile-picture-avatar-photo-placeholder-vector-illustration.jpg?s=612x612&w=0&k=20&c=vftMdLhldDx9houN4V-g3C9k0xl6YeBcoB_Rk6Trce0='
                  alt='Default Profile Image'
                  class='rounded-circle'
                  width='150'
                />
              </div>

            {{/if}}
            <div class='profile-name'>
              <h4><a href='mailto:{{search.email}}'>{{search.name}}</a></h4>
            </div>
            {{#if search.userBio}}
              <div class='profile-bio'>
                <p>{{search.userBio}}</p>
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>